* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: "Akrobat" !important;
}
a {
  color: #b88785 !important;
}
strong {  font-family: "Akrobat" !important;}
input:active {border: none; outline: none;}
input:focus {border: none; outline: none;}
body, html {
  width: 100%;
  height: 100%;
  font-family: "Akrobat" !important;
  font-size: 15px;
  line-height: 1.42857143;
  background-color: #f5f5f5 !important;
  display: block;
}
.font-style-header {
  font-size: 20px;
}
.txt-right {
  text-align: right;
  text-align: -webkit-right;
}
header {
  color: #ffffff;
  box-shadow: 0 0 60px rgb(0 0 0 / 50%);
  height: 90px;
  line-height: 90px;
  background: #624953;
  width: 100%;
  transition: all 0.4s ease;
}
header.sticky {
  line-height: 60px;
  height: 60px;
  position: fixed;
  z-index: 9999;
  opacity: 0.8;
}
header:hover {
  opacity: 1;
}
#arrow-up {
    position: fixed;
    bottom: 10%;
    right: 2%;
    background: url(/img/arrow-up.png) no-repeat center center;
    width: 64px;
    height: 80px;
    cursor: pointer;
    display: none;
  }
footer {
  margin-top: 60px;
  background: #624953;
  width: 100%;
}
.main-content {
  margin-top: 60px;
  transition: all 0.4s ease-out;
}
.main-menu {
  text-transform: uppercase;
  white-space: nowrap;
}
ul.nav li a.root-item {
  color: #efcbc2 !important;
  position: relative;
  display: block;
  padding: 0 15px;
  text-align: center;
}
ul.nav li a.root-item:hover {
  background: #b88785;
  border-bottom: 3px solid #47211f;
  text-decoration: none;
}

a.logo-img {
  height: 60px;
  display: block;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  background-size: cover;
  background: url(/img/logo.png) no-repeat;
  transition: all 0.2s ease;
}

a.fixed-logo {
  width: 50px;
  height: 50px;
  background-size: contain;
  background: url(/img/icon-fixed-logo.png) no-repeat;
  transition: all 0.2s ease;
}
div.logo {
  margin: 15px 0;
  max-width: 160px;

}
.personal-fixed {
  line-height: 30px !important;
}
.personal {
  display: block;
  color: #efcbc2 !important;
  background: #b88785;
  text-align: center;
  width: fit-content;
  padding: 15px 30px;
  line-height: 60px;
  white-space: unset;
  border: none;
  transition: all 0.4s ease;
}
.personal:hover {
  text-decoration: none;
  transition: 0.4s ease;
  background: rgba(0,0,0,0.3);
}
.title_page {
  margin: 15px 0 30px;
border-bottom: #b88785 solid 1px;
padding-bottom: 10px;
}
.footer-main {
  padding: 25px 0;
}
.copyright {
  font-size: 17px;
  color: #efcbc2 !important;
}
ul.nav-footer {
  text-decoration: none;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
}
ul.nav-footer li a.root-item {
  text-decoration: none;
  background: #efcbc2;
  border-radius: 10px;
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 5px;
  color: #624953 !important;
}
.marg-auto {
  margin: auto;
}
.tel-footer {
  color: #efcbc2 !important;
}
.footer-mobtel {
  font-size: 20px;
  color: #efcbc2 !important;
  padding: 3px 10px;
  display: block;
  margin-bottom: 5px;
  transition: all .3s ease-in-out;
  width: fit-content;
}
.footer-mobtel:hover {
  text-decoration: none;
  background: #b88785;
  border-radius: 30px;
  transform: translateX(0%);
}
.btn-primary {
  background-color: #b88785 !important;
  border-color: #b88785 !important;
}
#success {width: 50%; margin: auto;}
#success div.alert span {  font-size: 20px;}
#success div.alert button.close {margin: 8px 0;}


/* Стили таблицы в новостях и пользователях */
table.news-table{
  width: 100%;
  max-width: 100%;
}
table.news-table thead {
  background: #dadada;
  text-align: center;
  font-size: 18px;
  font-style:italic;
}
table.news-table thead tr td{
  padding: 5px;
}
table.news-table thead tr td:last-child {
  border-radius: 0px 20px  0px 0px;

}
table.news-table thead tr td:first-child {
  border-radius: 20px 0px  0px 0px;
}
table.news-table tbody{
  font-size: 17px;
  text-align: center;
}
table.news-table tbody tr {
  border: dashed;
  border-width: 1px 0px 0 0;
border-left: 1px solid #dadada;
border-right: 1px solid #dadada;
}
table.news-table tbody tr:hover {
background: #ebeaea;
}

table.news-table tbody tr:first-child{
    border-width: 0px 1px 0px 1px;
}
table.news-table tbody tr td {
padding: 15px;
}
table.news-table tfoot tr{
  padding: 5px;
  height: 37px;
  background: #dadada;
}
table.news-table tfoot tr td:last-child {
  border-radius: 0px 0px  20px 0px;
  padding-right: 3px;
}
table.news-table tfoot   tr td:first-child {
  border-radius: 0px 0px  0px 20px;
}
.btn-item-delete {
  height: 24px;
  width: 24px;
  background: url(/img/btn-delete.png) no-repeat center center;
  cursor: pointer;
}
.btn-item-edit {
  height: 24px;
  width: 24px;
  background: url(/img/btn-edit.png) no-repeat center center;
  cursor: pointer;
}
.btn-table-no-padd {
  padding: 3px !important;
}
/* END Стили таблицы в новостях и пользователях END */
 
